{% block title %}Create an account{% endblock %}
{% block content %}

    
    <div class="row">
        <div class="col">
        <input type="text" class="form-control" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Phone Number</label>
        <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
    </div>

    <h1>Create an account</h1>
    <p>Please, sign up using the following form:</p>
    <form method="post">
        {{ user_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Create my account"></p>
    </form>
{% endblock %}